<h1>All Trucks</h1>

<ul id="trucks">
  <% @trucks.each do |truck| %>
    <li>
      <%= link_to truck.name, truck_path(truck) %>
    </li>
  <% end %>
</ul>

<p>Can't find your truck?<br>
<%= link_to "Create New Truck", new_truck_path, class: 'new_truck' %></p>