<h2>Recent Searches</h2>
<ul>
	<% truck_searches.each(function (truck_search) { %>
		<li>
		  <p>
			  <a href="#/truck_searches/<%= truck_search.get("id") %>">
			    <%= truck_search.get("search") %>
			  </a>
		  </p>
		</li>
	<% }) %>
</ul>


