<form>
  <p><input type="text" name="truck_search[search]" id="truck_search" class="form-control" placeholder="Enter an address"></p>
  <p><input type="submit" class="btn btn-primary btn-lg" value="Find Trucks »"></p>
</form>
