<p>
  <%= truck.get("name") %><br>
	<a href="<%= truck.get("schedule") %>" %>Schedule (PDF format)</a><br>
  <%= truck.get("address") %><br>
	<%= truck.get("fooditems") %><br>
	<a href="#">Back to searches</a>
</p>
