.my_image {
	background: url("../images/sflights.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 2;
	max-height: 550px;
}

.my_header {
	color: gold;
	text-align: right;
}

.my_logo {
	color: gold;
	font-weight: 500;
}

.find_truck {
	background: rgba(200,200,200,0.85);
	color: black;
}