<h3>Index</h3>
<button id="refresh" >Refresh</button>
<ul>
	<% trucks.each(function (truck) { %>
		<li>
		  <a href="#/trucks/<%= truck.get("id") %>">
		    <%= truck.get("name") %>
		  </a>
		</li>
	<% }) %>
</ul>

<a href="#/trucks/new"> New Truck</a>