<li>
  <p>
	  <%= truck.get("name") %><br>
	  <%= truck.get("address") %><br>
	  <%= truck.get("latitude") %><br>
	  <%= truck.get("longitude") %>
  </p>
  <!-- <button class="destroy">Destroy</button> -->
</li>